
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Override library styles for token tables */
.TokenBalances,
.ERC20Transfers,
.TokenHolders,
.Transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto;
}

/* Modify table cell styles for width */
.TokenBalances td,
.ERC20Transfers td,
.TokenHolders td,
.Transactions td {
  max-width: 200px; /* Adjust this value as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


body {
  background: #a6a6a6;
  height: 100vh;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: center;

}

/* Add styles for the header */
header {
  text-align: right;
  padding: 1rem;
  font-size: 22px;
  font-weight: bold; /* Add bold font weight */
}

header nav {
  display: inline-block;
}

.header-link {
  color: #004aad; 
  text-decoration: none;
  margin-left: 1rem;
}

script {
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #004aad;
  font-weight: bold; /* Add bold font weight */
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  padding: 15px;
  margin: 0px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  color: #071bb6;
  padding: 15px;
  margin: 0px;
}

p {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  color: #071bb6;
  padding: 15px;
  margin: 0px;
  text-align: left;
}

/* Add styles for the .replit_content section */
.replit_content {
  padding: 1px;
  text-align: right;
  max-width: 1000px;
  text-align: left;
  font-weight: bold; 
}

th {
  background-color: #000000;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  border: 0px;
  border-radius: 5px; /* Rounded edges */
}


input {
  background-color: #4b74aa;
  color: #ffffff;
  border: 0px;
  padding: 8px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  border-radius: 5px; /* Rounded edges */
}

select {
  background-color: #004aad;
  color: #ffffff;
  border: 0px;
  padding: 8px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  border-radius: 5px; /* Rounded edges */
}

.btn-primary {
  background-color: #004aad;
  color: #ffffff;
  border: 0px;
  padding: 8px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  border-radius: 5px; /* Rounded edges */
}

/* Remove the box shadow for the table in WalletData */
#tokenTable {
  box-shadow: none;
}

/* Reduce the table width for WalletData */
#tokenTable td,
#tokenTable th {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add styles for the Token Approvals Analysis section */
#Title {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  color: #000426;
  padding: 1px;
  margin: 0;
  border-radius: 5px; /* Rounded edges */
}


#underwritingResults {
  color: #4b74aa; /* Black text color */
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 16px;
  list-style-type: none; /* Remove bullet points */
}

#providerData {
  color: #4b74aa; /* Black text color */
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 16px;
  list-style-type: none; /* Remove bullet points */
} 

#analysisList {
  color: #4b74aa; /* Black text color */
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 16px;
  list-style-type: none; /* Remove bullet points */
} 

#analysisList,
#providerData,
#underwritingResults, li {
  margin-bottom: 8px; /* Add some space between list items */
}


/* Center the inDemniFi logo and title */
.navbar-brand {
  text-align: center;
  width: 100%;
}

.navbar-brand img {
  max-width: 500px;
  display: block;
  margin: 0 auto; 
}


/* Add media query for smaller screens */
@media (max-width: 767px) {
  /* Stack the logo and heading vertically on small screens */
  .navbar-brand {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center the heading */
  }

  /* Add spacing between the logo and heading */
  .navbar-brand img {
    margin-bottom: 10px;
  }
}


/* Add styles for the Underwriting Analysis section */
#analysisList span,
#providerData span,
#underwritingResults span {
  color: #ffffff; /* White text color */
}


/* Styles for desktop screens (min-width: 768px) */
@media (min-width: 850px) {
  /* Add any desktop-specific styles here */
  body {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* Styles for mobile screens (max-width: 767px) */
@media (max-width: 850px) {
  /* Add any mobile-specific styles here */
  body {
    font-size: 16px;
    padding: 10px;
  }
  /* Example: Stack list items vertically */
  #underwritingResults li {
    margin-bottom: 10px;
  }
}

/* Add styles for the footer */
footer {
  padding: 1rem;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 22px;
  font-weight: bold; /* Add bold font weight */
}


.footer-link {
  color: #004aad; /* Blue text color */
  text-decoration: none;
  margin-left: 20px;
}

/* Styles for mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  /* Add any mobile-specific styles here */
  body {
    font-size: 16px;
    padding: 10px;
  }
  /* Reduce the width of the input box for smaller screens */
  input {
    width: 100%;
    max-width: 300px; /* You can adjust this value as needed */
  }
}


/* Styles for desktop screens (min-width: 768px) */
@media (min-width: 768px) {
  .heading-container {
    display: inline-block; /* Display both headings on the same line */
  }

  .heading-mobile {
    display: none; /* Hide mobile headings on desktop */
  }
}

/* Styles for mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  /* Stack the headings vertically on small screens */
  .navbar-brand {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center the headings */
  }

  .heading-desktop {
    display: none; /* Hide desktop heading on mobile */
  }

   .heading-mobile {
    font-size: 24px !important; /* Add !important to override desktop styles */
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    color: #004aad;
    margin: 0;
    display: block; /* Display mobile headings */
  }
}

#tokenTable {
  max-width: 100%;
  overflow-x: auto;
}

.header-link:hover,
.footer-link:hover {
  color: #ffffff; /* Change the hover color to white */
}

root {
  max-width: 100%; 
  margin: 0 auto;
}
